/* Variables */

:root{
  /* Typography */
  --typo-family: Arial, Helvetica, sans-serif;

  /* Colors */
  --color-white: #f2f3f4;
  --color-grey-dark: #333333;

  --color-Espresso-brown: #4a2e1e;
  --color-late-foam: #e2c7a0;
  --color-ceramic-blue: #4f8c9f;
  
  /* Breakpoint */
  --breakpoint-tablet: 768px;


}

/* Generales */

html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*:before,*:after{
  box-sizing: inherit;
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: var(--typo-family);
  background-color: var(--color-white);
  background: url('./images/background-image_001.jpg') center/cover no-repeat fixed;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.25rem;
}

/* HTML */

.card {
  padding: 5rem 5rem;

  height: 80%;
  width: 80%;
  border: none;
  border-radius: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  
  background-color: var(--color-grey-dark);
  box-shadow: 0 0 2.5rem 0.01rem var(--color-grey-dark);
} 
.card__text {
  color: var(--color-white);
}

.card__result {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: .05rem;
  text-align: center;
  height: 10rem;
  min-height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Puntuacion*/

.card__score {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.card__score .star svg path {
  fill: var(--color-white);
  transition: fill 0.2s ease;
  cursor: pointer;
}

.card__score .star:hover svg path,
.card__score .star:hover ~ .star svg path {
  fill: var(--color-ceramic-blue);
}

.card__score input:checked + label svg path,
.card__score input:checked + label ~ label svg path {
  fill: var(--color-ceramic-blue);
}

/* Button */

.card__btn {
  padding: 1.25rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-Espresso-brown);
  color: var(--color-white);
  font-weight: 600;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
} 
.card__btn:hover {
  background-color: var(--color-ceramic-blue);
  box-shadow: 0 0 0.5rem var(--color-Espresso-brown);
}


