
/** Variables **/

:root{
  /* Typography */
  --typo-family: Arial, Helvetica, sans-serif;

  /* Colors */
  --color-white: rgb(242, 243, 244);
  --color-grey-dark: rgba(51, 51, 51, 0.975);

  --color-Espresso-brown: rgb(74, 46, 30);
  --color-late-foam: rgb(226, 199, 160);
  --color-ceramic-blue: rgb(79, 140, 159);
  
  /* Breakpoint */
  --breakpoint-tablet: 768px;
}

/** Generales **/

html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*:before,*:after{
  box-sizing: inherit;
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: var(--typo-family);
  background-color: var(--color-white);
  background: url('../images/dom_images/background-image_001.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}

/** DOM **/

main {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr;
}

/* Weather */

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0;
}
.weather span {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: var(--color-white);
}
.weather__icon {
  width: 6rem;
}
.weather__temp {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 700;
  color: var(--color-white);
}

/* Card */

.card {
  margin: 0 auto;
  padding: 3.5rem;

  width: calc(80vw - 7rem);
  height: calc(80vh - 7rem);
  padding: 3.5rem;
  border: none;
  border-radius: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  
  background-color: var(--color-grey-dark);
  box-shadow: 0 0 2.5rem 0.01rem var(--color-Espresso-brown);
} 

.card__text {
  padding: 1rem 0;
  color: var(--color-late-foam);
}

.card__result {
  color: var(--color-late-foam);
  font-size: clamp(1.8rem, 2vw, 2.25rem);
  font-weight: 500;
  line-height: 2.25rem;
  letter-spacing: .05rem;
  text-align: center;
  height: 10rem;
  min-height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Puntuacion*/

.card__score {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 1rem;
}

.card__score .star svg path {
  fill: var(--color-late-foam);
  transition: fill 0.2s ease;
  cursor: pointer;
}

.card__score .star:hover svg path {
  transform: scale(0.95);
}
.card__score .star:hover svg path,
.card__score .star:hover ~ .star svg path {
  fill: var(--color-ceramic-blue);
}

.card__score input:checked + label svg path,
.card__score input:checked + label ~ label svg path {
  fill: var(--color-ceramic-blue);
}

/* Button */

.card__btn {
  padding: 1.25rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: var(--color-Espresso-brown);
  color: var(--color-late-foam);
  font-weight: 600;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
} 
.card__btn:hover {
  background-color: var(--color-ceramic-blue);
  box-shadow: 0 0 0.5rem var(--color-Espresso-brown);
}

@media (min-width: 768px){
  .card{
    padding: 5rem;
  }
  .card__text{
    text-align: left;
  }
  .card__btn{
    width: auto;
  }
}

